*{
    padding: 0;
    margin: 0;
}
#tituloNav{
    font-weight: bold;
    font-size: 15px;
}
#tNav{
    font-size: 15px;
    
}
.tituloPrincipal{
    font-family: "Parisienne", cursive;
    font-weight: bold;
    text-align: center;
    font-size: 100px;     
}